html, body {
    padding: 0;
    margin: 0;
    background-color: #EBEBFA;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #42236a;
    text-align: left;
    box-sizing: inherit;
    display: block;
    overflow-x: hidden;
}

input, textarea {
    color: #42236a;
    font-size: 14px;
}

button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.reset-password-container {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

/* Header` */

.reset-header {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: #ebebfa;
}

.logo-header {
    height: 65px;
}

.logo-header .bg-header {
    text-align: center;
    background-color: #7b35bb;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-header a {
    color: #7b35bb;
    text-decoration: none;
    background-color: transparent;
}

.logo-header img {
    vertical-align: middle;
    border-style: none;
}

/* Header Back */
.breadscrumb {
    margin: 24px auto auto;
    padding: 0;
    height: 30px;
    max-width: 840px;

}

.breadscrumb .back-btn {
    display: inline;
    font-size: 13px;
    color: #42236a;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 1px;
    margin-right: 3px;
}

.breadscrumb .back-btn:hover {
    color: #ad8ad8;
    text-decoration: none;
}

/* Content */
.reset-content {
    margin-top: 161px;
}

.reset-content .header-page {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto 24px;
    text-transform: capitalize;
    max-width: 496px;
}

.reset-content .content-page {
    margin: auto;
    padding: 0;
    max-width: 800px;
}

.enter-ic {
    width: 496px;
    margin: 0 auto;
}

.enter-ic .title {
    max-width: 424px;
    margin: auto;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
}

.enter-ic .group-input {
    margin: 24px 0;
    text-align: center;
}

.enter-ic .select-container {
    margin: auto;
    width: 100%;
    max-width: 35rem;
    position: relative;
}

.enter-ic .select-container__wrap-top {
    height: 45px;
    border-radius: 5px;
    border: 1px solid #e2d8ee;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfcfc;
}
    /* Dropdown Loại giấy tờ */
.select-container__placeholder {
    margin-left: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #ccc;
}

.select-container__icon {
    margin-right: 16px;
    transition: all .2s;
    transform: rotate(90deg);
}

.rotate-icon {
    transform: rotate(-90deg);
    transition: all .2s;
}

.select-container__wrap-top img {
    vertical-align: middle;
    border-style: none;
}



 /* Dropdown Loại giấy tờ __ Items*/
 .select-container__wrap-items {
    position: absolute;
    width: 100%;
    z-index: 1;
    max-height: 0;
    transition: max-height .2s;
    overflow-y: auto;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.03);
}

.select-container__wrap-items.active {
    max-height: 15rem;
    transition: max-height .2s;
}

.select-container__select-option {
    padding: 0 24px 0 16px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 45px;
    font-weight: 500;
}

.select-container__select-option .text {
    border-bottom: 1px solid #f6f6fe;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* Input nhập dữ liệu */

.group-input .input-ic {
    margin-top: 16px;
    border-radius: 5px;
    border: 1px solid #e6e9ee;
    background-color: #fcfcfc;
    padding: 11px 15px;
    height: 45px;
    width: 100%;
}

.input-ic .input-ic-1 {
    border: none;
    outline: 0;
    background: 0 0;
    display: block;
    width: 100%;
    padding: 0;
    color: #42236a;
    font-size: 14px;
    font-weight: 500;
}


/* Nút Tiếp tục */
.btn-action {
    text-align: center;
}

.btn-action button {
    width: 344px;
    height: 48px;
    cursor: pointer;
    text-transform: capitalize;
    border: none;
    background-image: linear-gradient(to bottom, #7b35bb, #5d2e86) !important;
    color: #FF9800 !important;
    border-radius: 5px !important;
    text-align: center;
    outline: none !important;
    font-size: 14px;
    font-weight: 500;
    min-width: 200px;
    padding: 12px;
    vertical-align: middle;
}

.btn-action .btn-primary:hover {
    background-image: linear-gradient(to bottom, #622a95, #4b256c) !important;
    cursor: pointer;
}




/* Footer */
.footer a {
    color: #42236a;
    outline: none;
    text-decoration: none;
    background-color: transparent;
}

.footer {
    display: block;
    margin-top: 50px;
    background-color: #ffffff;
}

 
.footer>div { /* Áp dụng cho phần tử div đầu tiên sau footer */
    margin: auto;
    max-width: 1170px;
}
.footer .footer-1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid #f8f8fd;
}

.footer-1 .phone-col {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.footer-1 .phone-col .call-center-text {
    display: none;
    margin-bottom: 8px;
    font-size: 16px;
}

.footer-1 .phone-col .phone-1 {
    margin-bottom: 10px;
}

.footer-1 .phone-col .c247 {
    display: inline-block;
    background-color: #42236a;
    color: #ffffff;
    font-size: 10px;
    padding: 0 5px;
    vertical-align: top;
    margin-left: 10px;
}

.footer .footer-1 .app-store-col .download-desc {
    display: none;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 24px;
}


.footer .footer-2 {
    padding: 15px 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-2 .copyright-text {
    color: #AD8AD8;
}

.footer .footer-2 .social a {
    color: #FF9800;
    font-size: 160%;
}




/* Responsive */
@media only screen and (max-width: 767px)
{
    .footer .footer-1 {
        padding: 20px 16px;
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-1 .phone-col{
        text-align: center;
    }

    .footer .footer-1 .footer-column-2, .footer .footer-1 .footer-column-3{
        display: none;
    }

    .footer .footer-1 .phone-col .call-center-text {
        display: block;
    }

    .footer .footer-1 .app-store-col {
        text-align: center;
        padding: 32px 0 12px 0;
    }

    .footer .footer-1 .app-store-col .download-desc {
        display: block;
    }

    .footer .footer-2 {
        display: none;
    }
}
