@media only screen and (min-width: 1440px) { 
    /*____Page body _____*/
    .page-header .top-header {
        display: none;
    }
    .page-header > .left-text {
        margin-top: 0;
        margin-right: calc(270px + 30px);
    }
    /*____ End Page body _____*/

    .main-container > .right .page-body .left {
        margin-right: 30px;
    }
    /*_____Footer _____*/
    app-footer .footer-1 {
        padding: 20px 30px;
    }
    /*_____ End Footer _____*/
}

@media only screen and (max-width: 1439px) {
    /*_____Left container _____*/
    .main-container > .left {
        transition: none;
        transform: none;
    }
    /* _____End left container _____*/


    
    /*_____Right ______*/
    .main-container > .right {
        margin-left: 270px;
    }

    .page-header {
        width: calc(100% - 270px);
        padding: 24px 30px 24px 30px;
    }

    .page-header .top-header {
        display: none;
    }

    .page-header > .left-text {
        margin-top: 0;
        margin-right: 0;
    }

    .page-header > .user-info {
        top: 30px;
        right: 30px;
    }

    .page-header > .user-info .user-name {
        display: inline-block;
        color: #42236a;
    }

    /*_____Page body _____*/
    .main-container > .right .page-body {
        padding: 5px 30px 5px 30px;
        margin-top: 105px;
    }
    .main-container > .right .page-body .left {
        margin-right: 0;
    }

    /*Page body right*/
    .main-container > .right .page-body .right {
        display: none;
    }
    /*End Page body right*/


    /*_____ End Page body _____*/
   
    /*_____Footer ____*/
    app-footer .footer-1 {
        padding: 20px 30px;
    }
}

@media screen and (max-width: 1130px) {
}

@media only screen and (max-width: 1129px) {
    /*_____Left container _____*/
    .main-container > .left {
        transition: all 0.3s ease;
        transform: translateX(-270px);
    }

    /*_____Right ______*/
    .main-container > .right {
        margin-left: 0;
    }

    .page-header {
        width: 100%;
        padding: 24px 16px 24px 16px;
    }

    .page-header .top-header {
        display: flex;
    }
    .page-header > .left-text {
        margin-top: 65px;
        margin-right: 0;
    }

    .page-header > .user-info {
        top: 17px;
        right: 16px;
    }
    .page-header > .user-info .user-name {
        display: inline-block;
        color: #ffffff;
    }

    /*_____Page body _____*/
    .main-container > .right .page-body {
        padding: 5px 16px 5px 16px;
        margin-top: 169px;
        min-height: calc(100vh - 395px);
    }

    .main-container > .right .page-body .left {
        margin-right: 0;
    }

    /* Page body right */
    .main-container > .right .page-body .right {
        display: none;
    }
    /* End Page body right */



    /*_____End Page body _____*/
    

    /*_____Footer ____*/
    app-footer .footer-1 {
        padding: 20px 16px;
    }

    app-footer .footer-2 {
        padding: 15px 16px;
    }
}


@media only screen and (max-width: 767px) {
    /*_____Left container _____*/
    .main-container > .left {
        transition: all 0.3s ease;
        transform: translateX(-270px);
    }

    /*_____Right ______*/
    .main-container > .right {
        margin-left: 0;
    }

    .page-header {
        width: 100%;
        padding: 16px 16px 16px 16px;
    }

    .page-header .top-header {
        display: flex;
    }

    .page-header > .left-text {
        margin-top: 65px;
        margin-right: 0;
    }

    .page-header > .user-info {
        top: 17px;
        right: 16px;
    }

    .page-header > .user-info .user-name {
        display: none;
    }

    /*_____Page body _____*/
    .main-container > .right .page-body {
        padding: 5px 16px 5px 16px;
        margin-top: 153px;
        min-height: calc(100vh - 500px);
    }

    .main-container > .right .page-body .left {
        max-width: 100%;
        margin-right: 0;
    }
    
    /*Page body right*/
    .main-container > .right .page-body .right {
        display: none;
    }
    /*End Page body right*/


   /*_____End Page Body _____*/


    /*_____Footer ____*/
    app-footer .footer-1 {
        padding: 20px 16px;
        flex-direction: column;
        align-items: center;
    }

    app-footer .footer-1 .phone-col {
        text-align: center;
    }
    app-footer .footer-1 .phone-col .call-center-text {
        display: block;
    }
    app-footer .footer-1 .phone-col .phone-1 {
        margin-bottom: 8px;
    }

    app-footer .footer-1 .footer-column-2, app-footer .footer-1 .footer-column-3 {
        display: none;
    }

    app-footer .footer-1 .footer-column-2, app-footer .footer-1 .footer-column-3 {
        display: none;
    }

    app-footer .footer-1 .app-store-col {
        text-align: center;
        padding: 32px 0 12px 0;
    }

    app-footer .footer-1 .app-store-col .download-desc {
        display: block;
    }
    app-footer .footer-2 {
        display: none;
    }
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 575px) {
   /*periodic*/
   .nav-tab {
        width: max-content;
        padding: 0;
    }
   /*End periodic*/
}
