*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #EBEBFA;
    font-size: 14px;
    word-wrap: break-word;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #42236a;
    text-align: left;
}

a {
    outline: none;
    color: #7b35bb;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
    border-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

/* Scroll*/
body::-webkit-scrollbar-track {
    border-radius: 6px;
    background: #F5F5F5;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}
body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #7b35bb;
}
body::-webkit-scrollbar {
    width: 10px;
}
/*End scroll*/


/*Button*/
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0;
    overflow: visible;
}
button:disabled {
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), white);
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

.btn {
    display: inline-block;
    color: #42236a;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 12px;
    border-radius: 5px;
    color: #ffb74d;
    outline: none !important;
    font-size: 14px;
    font-weight: 500;
    min-width: 200px;
}

.btn-primary {
    text-transform: capitalize;
    border: none;
    background-image: linear-gradient(to bottom, #7b35bb, #5d2e86) !important;
    color: #FF9800 !important;
    border-radius: 5px !important;
    border-color: #7b35bb;
}

.btn-primary:disabled, .btn-primary [disabled] {
    border: none;
    background-image: none !important;
    background-color: #e2d8ee !important;
    color: #ffffff !important;
    pointer-events: none !important;
    opacity: 1;
}

.btn-primary:hover {
    background-image: linear-gradient(to bottom, #622a95, #4b256c) !important;
    cursor: pointer;
}


.btn-action {
    margin: 10px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-action .btn-next {
    width: 65%;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #ffffff;
    background-color: #7b35bb;
    border-color: #7b35bb;
}

.btn-secondary {
    border-radius: 5px !important;
    text-transform: capitalize !important;
    background-color: #e2d8ee !important;
    color: #42236a !important;
    border: none;
}

.btn-secondary:hover {
    background-color: #c4bad1 !important;
    cursor: pointer;
}

.btn-secondary-disable {
    border: 1px solid #e2d8ee;
    background-color: #e2d8ee;
    color: white !important;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    color: #42236a;
    font-size: 14px;
    font-family: inherit;
    line-height: inherit;
    overflow: visible;
}

.input-customize {
    flex-grow: 9;
    border: 0;
    background: #fcfcfc;
    font-weight: 500;
}
.btn-secondary {
    border-radius: 5px !important;
    text-transform: capitalize !important;
    background-color: #e2d8ee !important;
    color: #42236a !important;
    border: none;
}
.btn-secondary:hover {
    background-color: #c4bad1 !important;
    cursor: pointer;
}
/*End common element*/



/*_____Left container _____*/
.main-container > .left {
    width: 270px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    flex-shrink: 0;
    background-color: #7b35bb;
    background-repeat: no-repeat;
    color: #a0a0a0;
}

.main-container > .left .main-logo {
    margin: 37px 0px;
    text-align: center;
}

.main-container > .left .main-logo img {
    width: 134px;
}
.menu {
    height: calc((var(--viewportHeight, 1vh) * 100) - 105px);
    overflow-y: auto;
}

.menu .menu-group .menu-item.active {
    color: #ffffff;
}

.menu .menu-group .menu-item.parent {
    transition: color 0.3s linear;
    position: relative;
}

.menu .menu-group .menu-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 13px 0px;
    color: #ad8ad8;
    border-top: 1px solid rgba(200, 200, 200, 0.1);
    cursor: pointer;
    text-transform: capitalize;
}

.menu .menu-group .menu-item.parent.active::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #FF9800;
    top: 0px;
    left: 0px;
    width: 4px;
    height: 100%;
}

.menu .menu-group .menu-item .menu-icon {
    flex-shrink: 0;
    width: 60px;
    text-align: center;
}

.menu .menu-group .menu-item .menu-icon img {
    height: 24px;
}

.menu .menu-group .menu-item .menu-name {
    flex-grow: 1;
}
.menu .menu-group .menu-item.parent .fa-chevron-up {
    color: #FF9800;
    position: absolute;
    right: 25px;
    font-size: 90%;
}

.menu .menu-group .menu-item-list {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.menu .menu-group .menu-item-list.active {
    max-height: 700px;
    transition: max-height 0.3s ease-in;
}

.menu .menu-group .menu-item.parent .fa-chevron-down {
    position: absolute;
    right: 25px;
    font-size: 90%;
}

.menu .menu-group .menu-item:hover {
    opacity: 1;
    background-color: #8d52c5;
}


.fa-chevron-down:before {
    content: "\f078";
}


/*_____Right ______*/
.main-container > .right {
    margin-left: 270px;
}

.page-header {
    background-color: #EBEBFA;
    position: fixed;
    width: calc(100% - 270px);
    top: 0;
    padding: 24px 30px 24px 30px;
    z-index: 99;
    min-height: 105px;
}

.page-header .top-header {
    display: flex;
    align-items: center;
    height: 65px;
    position: absolute;
    background: #7b35bb;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 16px;
}

.page-header .top-header #hamburger-menu {
    cursor: pointer;
}

.page-header > .left-text > div {
    max-width: 800px;
    margin: 0 auto;
}

.page-header .page-title {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bolder;
    text-transform: capitalize;
    line-height: 28px;
    text-transform: capitalize;
}

.page-header .user-info {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    top: 27px;
    right: 30px;
}

.page-header .user-info #notification-btn {
    font-size: 20px;
    color: #FF9800;
    cursor: pointer;
    margin-right: 30px;
    position: relative;
}

#notification-btn[_ngcontent-spt-c8] {
    outline: 0;
}

.page-header .user-info #user-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.page-header .user-info #user-btn .avatar {
    margin-right: 10px;
    border-radius: 50%;
}

.avatar-container {
    display: inline-block;
}

.page-header .user-info #user-btn .user-name {
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.page-header .user-info #user-btn .fa-chevron-down {
    color: #FF9800;
}
.page-header .user-info .user-menu {
    position: absolute;
    right: 0px;
    top: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #c4bec4;
    min-width: 100px;
}
.page-header .user-info .user-menu > a {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
}
.page-header .user-info .user-menu > a > i {
    margin-right: 5px;
}


.page-header .breadcrumb {
    margin-bottom: 8px;
    padding: 0px;
    background: transparent;
}

.breadcrumb a {
    font-size: 13px;
    color: #42236a;
}

.page-header .breadcrumb > a {
    display: inline-block;
    font-size: 13px;
    text-transform: capitalize;
}
.page-header .breadcrumb > a i {
    font-size: 13px;
    color: #FF9800;
    padding: 0 10px;
}

/*_____Page body _____*/
.page-body {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 105px;
    padding: 5px 30px 5px 30px;
    min-height: calc(100vh - 330px);
}

/*Page body*/

.page-body .left {
    flex-grow: 1;
    margin-right: 30px;
}

.page-body .left .content-wrap {
    max-width: 800px;
    margin: 0 auto;
}

/*Setting default */
.content-container {
    margin: 20px auto 0px auto;
    padding: 20px;
    max-width: 496px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.app-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    margin-bottom: 0px;
}
input[type=radio], input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}
.app-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.app-switch .app-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 14px;
}
.app-switch input:checked + .app-slider {
    background-color: #ff9800;
}
.app-switch .app-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}
.app-switch input:checked + .app-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.content-container-2 {
    margin: 0px auto;
    max-width: 496px;
}
.content-container {
    margin: 20px auto 0px auto;
    padding: 20px;
    max-width: 496px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
/*End setting default*/

.page-body .right {
    width: 270px;
    flex-shrink: 0;
}

.quick-links .title {
    background-color: #e2d8ee;
    font-weight: 500;
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
}

.quick-links .body a {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #f3eef9;
    background-color: #ffffff;
    color: #42236a;
    position: relative;
    text-transform: capitalize;
}
.quick-links .body a i {
    position: absolute;
    right: 20px;
    top: 25px;
    color: #FF9800;
}


.banner-swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.banner-swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}

.banner-swiper-container .button-pag .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

.banner-swiper-container .button-pag .swiper-pagination-bullet {
    background: #e2d8ee;
    opacity: .8;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}

.banner-swiper-container .button-pag .swiper-pagination-bullet {
    background: #e2d8ee;
    opacity: .8;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}

.banner-swiper-container .btn-slider {
    background-size: contain;
    outline: 0;
    background-color: #5d2e86;
    opacity: .8;
    filter: alpha(opacity=80);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 55%;
    z-index: 1;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url(../images/main/download.svg);
    right: 10px;
    left: auto;
}

.banner-swiper-container .btn-slider.swiper-button-next {
    right: 13px;
    background-image: url(https://ebank.tpb.vn/retail/vX/right-banner.c634fdfa225425852c5a.svg);
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url(../images/main/download_prev.svg);
    left: 10px;
    right: auto;
}

.banner-swiper-container .btn-slider.swiper-button-prev {
    left: 13px;
    background-image: url(https://ebank.tpb.vn/retail/vX/left-banner.34837624e172d2200698.svg);
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
/*End Page body*/


/*_____ End Page body ______*/





/*_____Footer ____*/
app-footer {
    display: block;
    margin-top: 50px;
    background-color: #ffffff;
}
app-footer > div {
    max-width: 1170px;
}
app-footer .footer-1 {
    padding: 20px 30px;
    border-bottom: 1px solid #f8f8fd;
}

app-footer .footer-1 .phone-col {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

app-footer .footer-1 .phone-col .call-center-text {
    display: none;
    margin-bottom: 8px;
    font-size: 16px;
}
app-footer .footer-1 .phone-col .phone-1 {
    margin-bottom: 10px;
}
app-footer .footer-1 .phone-col .c247 {
    display: inline-block;
    background-color: #42236a;
    color: #ffffff;
    font-size: 10px;
    padding: 0 5px;
    vertical-align: top;
    margin-left: 10px;
}

app-footer .footer-1 .app-store-col .download-desc {
    display: none;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 24px;
}
app-footer .footer-2 {
    padding: 15px 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
app-footer .footer-2 .copyright-text {
    color: #AD8AD8;
}

app-footer .footer-2 .social a {
    color: #FF9800;
    font-size: 160%;
}